body {
      margin: 0;
      padding: 0;
      background: grey;
      font-family: 'Poppins', sans-serif;
}

#map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
}

#title {
      position: absolute;
      top: 40px;
      left: 40px;
      background: rgba(255, 255, 255, 0.8);
      height: 24px;
      width: 350px;
      z-index: 1000;
      border-radius: 20px;
      padding: 10px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      
      font-size: 16px;
      overflow: auto;
      text-align: center;
      font-weight: bold;
      color: #474747;   
}

#TitleArrowDownBox {
      position: absolute;
      top: 90px;
      left: 195px;
      height: 30px;
      width: 50px;
      z-index: 2000;
      text-align: center;
}

#TitleArrowDown {
      color: #000000;
      font-size: 40px;
}

#TitleArrowDownBox:hover {
      cursor: pointer;
}

#dashboard {
      position: absolute;
      top: 40px;
      left: 40px;
      background: rgba(255, 255, 255, 0.8);
      height: 600px;
      width: 350px;
      z-index: 1000;
      border-radius: 20px;
      padding: 10px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      
      font-size: 16px;
      overflow: hidden;
      text-align: center;
      font-weight: bold;
      color: #474747; 
      display: none;

}

#TimeRange {
      position: relative;
      top: 15px;
      left: 15px;
      background: brown;
      height: 60px;
      width: 300px;
      z-index: 1000;
      border-radius: 20px;
      padding: 10px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      
      font-size: 16px;
      overflow: auto;
      text-align: center;
      font-weight: bold;
      color: #474747; 
}

#filters {
      position: relative;
      top: 25px;
      left: 15px;
      height: 100px;
      width: 320px;
      z-index: 1000;    
      font-size: 16px;
      overflow: auto;
      text-align: center;
      font-weight: bold;
      color: #474747; 
      
      display: grid;
      grid-template-columns: auto auto auto;
      justify-items: center;
      align-items: center;
}

.grid-item {
      position: relative;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      width: 80px;
      height: 20px;
      border-radius: 20px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
}

#lists {
      position: relative;
      top: 35px;
      left: 15px;
      background: brown;
      height: 320px;
      width: 300px;
      z-index: 1000;
      border-radius: 20px;
      padding: 10px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      
      overflow: auto;
      font-weight: bold;
      color: #474747; 
}

#TitleArrowUpBox {
      position: relative;
      top: 40px;
      left: 145px;
      height: 30px;
      width: 50px;
      z-index: 2000;
      text-align: center;
      justify-self: center;
}

#TitleArrowUp {
      color: grey;
      font-size: 40px;
}

#TitleArrowUpBox:hover {
      cursor: pointer;
}